body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: yellow;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid yellow;
    padding-bottom: 10px;
}

#listings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.listing {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(33.333% - 20px);
    justify-content: space-between;
}

.listing img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.listing h3 {
    margin: 0 0 10px 0;
    color: yellow;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: yellow;
}

#contact {
    text-align: center;
}

#contact button {
    background-color: yellow;
    border: none;
    padding: 10px 20px;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: yellow;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
